/*

Theme Name: Cricket Stikers
Theme URI: http://cricketstikers.com.br
Author: HC Desenvolvimentos
Author URI: http://cricketstikers.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: cricketstikers
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (HC DESENVOLVIMENTOS Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA
*/
*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Segoe UI Web (West European)';
  src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* BODY */
  body{
   	font-family: 'Roboto', sans-serif;
    background: url(../img/background01.png);
    background-position: center -35px;
    background-size: 100% 17%;
    background-repeat: no-repeat!important;
    width: 100%;
    max-width: 1920px;
    margin:0 auto;
  }

/*HEADER*/
  	header{
  		display:block;
  		width:100%;
  		padding-top: 95px;
	}
	  	header .logoBrand{

	  	}
	  		header .logoBrand img{
	  			display: block;
	  			width: 100%;
				height: auto;	
				max-width: 220.28px;
	  		}
		header  nav{
			text-align: right;
			margin: 0 auto;
			
		}
			header  nav ul{
				list-style: none;
				margin: 0;
				padding: 0;
				padding-top: 25px;
			}
				header  nav ul li{
					display: inline-block;
					height: 19px;
					margin-right: 30px;
				}	
					header  nav ul li a{
	  					font-family: 'Segoe UI Web (West European)';
	  					color: #FFFFFF;	
	  					font-size: 14px;	
	  					font-weight: 900;	
	  					line-height: 19px;
	  					text-transform: uppercase;
	  					text-decoration:none;
					}
						header  nav ul li a:hover{
							color:#fff;
							text-decoration:none;
						}
						header  nav ul li a:active{
							color:#fff;
							text-decoration:none;
						}
						header  nav ul li a:focus{
							color:#fff;
							text-decoration:none;
						}
		header  .right{

		}
			header  .right a{
				display: block;
				height: 40px;	
				width: 139px;	
				border-radius: 4px;	
				background: url(../img/btn.png);
				background-position: center!important;
				background-size: cover!important;
				font-family: "Segoe UI";	
				font-size: 14px;	
				font-weight: 900;	
				line-height: 40px;	
				text-align: center;
				color: #fff;
				text-transform:uppercase;
				text-decoration: none;
			    margin: 20px auto 0;
			}
	header .col-xs-5 button{
		background:transparent;
		border:none;
		border-radius: 3px;
		padding: 5px;
		float: right;
		outline:none;
		display: none;
	}
		header .col-xs-5 button span{
			display: block;
			width: 40px;
			height: 4px;
			background:#fff;
			margin: 5px 0;
		}

/*HOME*/
  .homePageOne{
		
	    padding-top: 45px;
  }
  	.homePageOne .highlights{
  	
  	}
	  	.homePageOne .highlights .highlightsText{
  			width:100%;
			max-width: 966px;
			margin:0 auto;
	  	}
	  		.homePageOne .highlights .highlightsText h2{
				color: #FFFFFF;	
				font-family: "Segoe UI";	
				font-size: 43px;	
				font-weight: 900;	
				line-height: 58px;	
				text-align: center;
				text-transform: uppercase;
			    margin-bottom: 25px;
	  		}
	  		.homePageOne .highlights .highlightsText p{
				color: #FFFFFF;
				font-family: "Segoe UI";
				font-size: 24px;
				font-weight: 600;
				line-height: 32px;
				text-align: center;
				max-width: 800px;
				margin: 0 auto;
	  		}
	  	.highlightsText .mobile{
	  		display: none;
	  	}
		.homePageOne .highlights .btnHighlights{
			max-width: 458px;
			margin: 0 auto;
		    margin-top: 40px;
		}
			.homePageOne .highlights .btnHighlights .btns{

			}
				.homePageOne .highlights .btnHighlights .btns a{
					height: 40px;	
					width: 190px;	
					border-radius: 4px;	
					background: url(../img/btn.png);
					background-position: center!important;
					background-size: cover!important;
					font-size: 14px;	
					font-weight: 900;	
					line-height: 40px;	
					text-align: center;
					display: inline-block;
					color:#fff;
					text-transform: uppercase;
					text-decoration: none;
				}
				.homePageOne .highlights .btnHighlights .btns h2{
					color: #fff;	
					font-family: "Segoe UI";	
					font-size: 26px;	
					font-weight: 900;	
					line-height: 35px;
					margin:0;
				}
				.homePageOne .highlights .btnHighlights .btns span{
					color: #D70000;	
				}
	.homePageOne .information{
		margin-top: 100px;
		padding-bottom: 120px;
		max-width: 880px;
		margin: 230px auto 0;
	}
		.homePageOne .information h2{
			height: 75px;
			width: 100%;
			max-width: 763px;	
			color: #fff;	
			font-family: "Segoe UI";	
			font-size: 55px;	
			font-weight: 900;	
			text-transform: uppercase;
			margin:0 auto  15px;
		}
			.homePageOne .information h2 b{
				color: #D70000;	
				font-weight: 900;	
			}
				.homePageOne .information .informationNumber .info strong{
					color: #FFFFFF;	
					font-family: "Segoe UI";	
					font-size: 24px;
					font-weight: 900;
					display: block;
					text-transform: uppercase;
					position: relative;
					padding-left: 40px;
				}
					.homePageOne .information .informationNumber .info strong:before{
						content: "";
						display: block;
						width: 8px;
						height: 8px;
						border-radius: 100%;
						background:#D70000;
						position: absolute;
						left: 0;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}

/**/
	.pg.videoInfo{
	    -webkit-transform: skewY(20deg);
	    transform: skewY(20deg);
	    margin-top: 110px;
	    background: #fff;
	    width: 100%;
	}
		.pg.videoInfo .skewhorizon{
			-webkit-transform: skewY(-20deg);
			transform: skewY(-20deg);
			background: transparent;
			width: 100%;
			position: relative;
			top: -260px;
			padding-top: 175px;
		}
			.pg.videoInfo .skewhorizon .video{
				height: 450px;	
				max-width: 1058px;
				overflow: hidden;
				margin: 0 auto;
				background: #fff;
				position:relative;
				-webkit-box-shadow: 0px 0px 65px 20px rgba(0,0,0,0.35);
				-moz-box-shadow: 0px 0px 65px 20px rgba(0,0,0,0.35);
				box-shadow: 0px 0px 65px 20px rgba(0,0,0,0.35);
			}
				.pg.videoInfo .skewhorizon .video video{
					display: block;
					position: absolute;
					width: 102%;
					height: 135%;
					top: 0;
					left: 0;
					z-index: 2;
				}
			.pg.videoInfo .skewhorizon .info{
				text-align: center;
				max-width: 703px;
				margin:70px auto 0;
			}
				.pg.videoInfo .skewhorizon .info h2{
					color: #000000;	
					font-family: "Segoe UI";	
					font-size: 25px;	
					font-weight: 900;	
					line-height: 34px;	
					text-align: center;
					text-transform: uppercase;
					margin:0;
				}
				.pg.videoInfo .skewhorizon .info strong{
					color: #D70000;	
					font-family: "Segoe UI";	
					font-size: 55px;	
					font-weight: 900;	
					line-height: 75px;	
					text-align: center;
					text-transform: uppercase;
				}
				.pg.videoInfo .skewhorizon .info p{
					color: #000000;
					font-family: "Segoe UI";	
					font-size: 24px;	
					font-weight: 600;	
					line-height: 32px;	
					text-align: center;
				    margin-top: 20px;
				}
	.ourSolutions{
		background: #000;
		-webkit-transform: skewY(20deg);
		transform: skewY(20deg);
		position: relative;
		top: -115px;
		min-height: 3200px;
		padding-top: 40px;
		overflow: hidden;
	}
		.ourSolutions .ourSolutionsText{
			
		}
			.ourSolutions .ourSolutionsText{

			}
				.ourSolutions .ourSolutionsText .title{
					max-width: 736px;
					margin-bottom: 125px;
				}
					.ourSolutions .ourSolutionsText .title h2{
						color: #fff;	
						font-family: "Segoe UI";	
						font-size: 55px;	
						font-weight: 900;	
						line-height: 75px;
						text-transform: uppercase;
						margin-bottom: 38px;
					}
						.ourSolutions .ourSolutionsText .title h2 strong{
							color: #D70000;
							font-weight: 800;
						}
						.ourSolutions .ourSolutionsText .title p{
							color: #FFFFFF;	
							font-family: "Segoe UI";	
							font-size: 20px;	
							font-weight: 600;	
							line-height: 27px;
						}
				.ourSolutions .ourSolutionsText .solutionsList{

				}
					.ourSolutions .ourSolutionsText .solutionsList:before{
						content: "";
						display: block;
						background: url(../img/Oval4.png);
						background-repeat: no-repeat!important;
						background-size: cover!important;
						position: absolute;
						width: 314px;
						height: 626px;
						top: 187px;
					}
					.ourSolutions .ourSolutionsText .solutionsList ul{
						padding: 0;
						margin: 0;
						list-style: none;
						text-align:center;

					}
						.ourSolutions .ourSolutionsText .solutionsList ul li{
							height: 450px;
							width: 27%;
							background-color: transparent;
						    margin: 0 30px;
							display: inline-block;
							padding-top: 60px;
							position: relative;
							vertical-align: top;
						}
							.ourSolutions .ourSolutionsText .solutionsList ul li:hover{
								box-shadow: 0 14px 86px 0 rgba(215,0,0,0.58);
								background-color: #000000;
							}
							.ourSolutions .ourSolutionsText .solutionsList ul li figure{
								max-width: 312px;
								margin:0 auto 20px;
								display: block;
							}
								.ourSolutions .ourSolutionsText .solutionsList ul li img{
									display: block;
									max-width: 120px;
								}
							.ourSolutions .ourSolutionsText .solutionsList ul li h2{
								max-width: 312px;
								margin:0 auto 55px;
								color: #FFFFFF;	
								font-family: "Segoe UI";	
								font-size: 20px;	
								font-weight: 900;	
								line-height: 27px;
								text-transform: uppercase;
								text-align:left;
								position: relative;
							}	
							.ourSolutions .ourSolutionsText .solutionsList ul li p{
									max-width: 312px;
									margin:0 auto;
									color: #FFFFFF;	
									font-family: "Open Sans";	
									font-size: 14px;	
									line-height: 19px;
									text-align:left;
									position: relative;
							}
			.ourSolutions .downloads{
				position: relative;
				overflow: hidden;
			}
				.ourSolutions .downloads:before{
				    content: "";
				    display: block;
				    background: url(../img/ovalFullRight.png);
				    background-repeat: no-repeat!important;
				    background-size: cover!important;
				    position: absolute;
				    width: 344px;
				    height: 265px;
				    /* top: 6px; */
				    bottom: 0;
				}
				.ourSolutions .downloads:after{
					content: "";
					display: block;
					background: url(../img/ovalFullLeft.png);
					background-repeat: no-repeat!important;
					background-size: cover!important;
					position: absolute;
					width: 310px;
					height: 684px;
					right: 0;
					-moz-transform: rotate(55deg);
					-webkit-transform: rotate(55deg);
					-o-transform: rotate(55deg);
					-ms-transform: rotate(55deg);
					transform: rotate(55deg);
					bottom: -265px;
				}
				.ourSolutions .downloads .area{
					
					max-width: 798px;
					margin:0 auto;
					text-align: center;
					height: 686px;
					padding-top:225px;
					position: relative;
				}
				
				.ourSolutions .downloads img{
					position: absolute;
  					top: 50%;
  					left: 50%;
  					transform: translate(-50%, -50%);
				}
				.ourSolutions .downloads h4{
					color:#fff;
					font-family: "Segoe UI";	
					font-size: 82px;	
					font-weight: 900;	
					text-align: center;
					text-transform: uppercase;
					margin:0;
					position: relative;
					z-index: 1;
					margin:0;
				}
					.ourSolutions .downloads h4 strong{
						color: #D70000;	
						font-weight: 900;
					}
					.ourSolutions .downloads p{
						color: #FFFFFF;	
						font-family: "Segoe UI";	
						font-size: 55px;	
						font-weight: 900;	
						text-align: center;
						text-transform: uppercase;
						position: relative;
						z-index: 1;
						margin:0;
					}
						.ourSolutions .downloads p strong{
							color: #D70000;
							font-weight: 900;
						}
					.ourSolutions .downloads span{
						color: #FFFFFF;
						font-family: "Segoe UI";
						font-size: 17px;
						line-height: 23px;
						display: block;
						text-align: center;
						position: relative;
						z-index: 1;
						font-weight: 100;
					}
			.ourSolutions .newsllater{
				min-height: 215px;	
				background: linear-gradient(315deg, #D70000 0%, #641717 100%);
				padding-top: 50px;
			}	
				.ourSolutions .newsllater img{
					display: block;
					max-width: 431px;
					position: absolute;
					right: 130px;
					bottom: 0;
				}
				.ourSolutions .newsllater .title{
					max-width: 285px;
				}
					.ourSolutions .newsllater .title h6{
						color: #FFFFFF;	
						font-family: "Segoe UI";	
						font-size: 42px;	
						font-weight: 900;	
						text-transform: uppercase;

					}
				.ourSolutions .newsllater .form{
					padding-top: 55px;
				}

					.ourSolutions .newsllater .form input{
						outline: none;
					}
					.ourSolutions .newsllater .form input[type="text"]{
						width: 100%;
						max-width: 548px;
						border: none;
						border-bottom: solid 3px #fff;
						background: transparent;
						color: #FFFFFF;	
						font-family: "Segoe UI";	
						font-size: 20px;	
						padding-bottom: 10px;
					}
						/* Chrome, Safari, Opera */
						.ourSolutions .newsllater .form input[type="text"]::-webkit-input-placeholder {
								opacity: 0.5;	
								color: #FFFFFF;	
								font-family: "Segoe UI";	
								font-size: 20px;	
								
						}

						/* Firefox 18- */
						.ourSolutions .newsllater .form input[type="text"]:-moz-placeholder {
								opacity: 0.5;	
								color: #FFFFFF;	
								font-family: "Segoe UI";	
								font-size: 20px;	
								
						}

						/* Firefox 19+ */
						.ourSolutions .newsllater .form input[type="text"]::-moz-placeholder {
								opacity: 0.5;	
								color: #FFFFFF;	
								font-family: "Segoe UI";	
								font-size: 20px;	
								
						}

						/* IE10+ */
						.ourSolutions .newsllater .form input[type="text"]:-ms-input-placeholder {7
							height: 27px;	
							width: 144px;	
							opacity: 0.5;	
							color: #FFFFFF;	
							font-family: "Segoe UI";	
							font-size: 20px;	
						}
					.ourSolutions .newsllater .form input[type="submit"]{
						height: 40px;	
						width: 139px;
						border:none;	
						border-radius: 4px;	
						background-color: #FFFFFF;
						color: #D70000;	
						font-family: "Segoe UI";	
						font-size: 14px;	
						font-weight: 900;	
						text-align: center;
						text-transform: uppercase;
					    float: right;
					}
		.ourSolutions .liveFeed{
			padding-top: 100px;
			position: relative;
			overflow:hidden;
		}
			.ourSolutions .liveFeed:before{
				content: "";
				display: block;
				background: url(../img/ovalFullRight.png);
				background-repeat: no-repeat!important;
				background-size: cover!important;
				position: absolute;
				width: 513px;
				height: 383px;
				top: 5px;
				/* bottom: 0; */
				-moz-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				transform: rotate(90deg);
				left: -75px;
			}
			.ourSolutions:before{
				content: "";
				display: block;
				background: url(../img/ovalFullRight.png);
				background-repeat: no-repeat!important;
				background-size: cover!important;
				position: absolute;
				width: 513px;
				height: 497px;
				bottom: 0;
				-moz-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				transform: rotate(270deg);
				right: -7px;
			}
			.ourSolutions .liveFeed:after{
				content: "";
				display: block;
				background: url(../img/ovalFullLeft.png);
				background-repeat: no-repeat!important;
				background-size: cover!important;
				position: absolute;
				width: 310px;
				height: 540px;
				right: 10px;
				-moz-transform: rotate(-60deg);
				-webkit-transform: rotate(-60deg);
				-o-transform: rotate(-60deg);
				-ms-transform: rotate(-60deg);
				transform: rotate(-60deg);
				top: -260px;
			}	
			.ourSolutions .liveFeed h6{
				text-transform: uppercase;
				color: #fff;
				font-family: "Segoe UI";	
				font-size: 55px;	
				font-weight: 900;	
				margin-bottom: 30px;

			}
				.ourSolutions .liveFeed h6 strong{
					color: #D70000;
					font-weight: 900;	
				}
			.ourSolutions .liveFeed .areaCarrossel{
			    overflow: hidden;
			    position: relative;
			    height: 290px;
			}
			.ourSolutions .liveFeed .areaCarrossel:before{
				content: "";
				display: block;
				position: absolute;
				right: 0;
				width: 13.7%;
				height: 251px;
				background: #000000ad;
				z-index: 9;
				border-radius: 5px;
			}
			.ourSolutions .liveFeed .carrosselDepoimentos{
				position: relative;
				right: -175px;
			}
				.ourSolutions .liveFeed .carrosselDepoimentos .item{
					max-width: 388px;
					padding:0 5px;
				}
				.ourSolutions .liveFeed .carrosselDepoimentos .item .comments{
					height: 200px;
					width: 100%;
					border-radius: 4px;
					background-color: #FFFFFF;
					box-shadow: 0 17px 47px 0 rgba(215,0,0,0.43);
					margin: 50px 0 60px;
					padding: 15px 10px 0;
				}
					.ourSolutions .liveFeed .carrosselDepoimentos .item figure{
						width: 46px;
						height: 57px;
						background-position: center!important;
						background-size: cover!important;
						margin: 0 auto;
					}
						.ourSolutions .liveFeed .carrosselDepoimentos .item figure img{

						}
					.ourSolutions .liveFeed .carrosselDepoimentos .item .info{
						max-width: 200px;
					}	
						.ourSolutions .liveFeed .carrosselDepoimentos .item .info strong{
							opacity: 0.5;
							color: #000000;
							font-family: "Segoe UI";
							font-size: 15px;
							position: absolute;
							right: 20px;
							font-weight: 400;
							top: 0;	
						}
						.ourSolutions .liveFeed .carrosselDepoimentos .item .info h2{
							color: #000000;	
							font-family: "Segoe UI";	
							font-size: 20px;	
							font-weight: 900;	
							margin:10px 0;

						}	
						.ourSolutions .liveFeed .carrosselDepoimentos .item .info .stars{
							width: 117px;
							overflow: hidden;
							height: 20px;
						}
						.ourSolutions .liveFeed .carrosselDepoimentos .item .info .stars span{
							background: url(../img/starativo.png);
							background-position: center!important;
							background-size: cover!important;
							width: 20px;
							height: 15px;
							display: inline-block;
						}
							.ourSolutions .liveFeed .carrosselDepoimentos .item .info .stars span.ativo{
								background: url(../img/starpass.png);
							}
						.ourSolutions .liveFeed .carrosselDepoimentos .item .info p{
							opacity: 0.5;
							color: #000000;
							font-family: "Segoe UI";
							font-size: 17px;
							line-height: 17px;
							margin-top: 15px;
							overflow-y: hidden;
							height: 104px;
							margin: 5px 0 0;
						}	
		.ourSolutions .aboutStickSports{
			position: relative;
			z-index: 99;
		}	
			.ourSolutions .aboutStickSports .titulo{
				text-align: center;
				max-width: 850px;
			    margin: 100px auto;
			}
				.ourSolutions .aboutStickSports .titulo h2{
					text-transform: uppercase;
					color: #fff;
					font-family: "Segoe UI";
					font-size: 55px;
					font-weight: 900;
					margin-bottom: 30px;
				}
					.ourSolutions .aboutStickSports .titulo h2 strong{
						color: #D70000;
						font-weight: 900;
					}
				.ourSolutions .aboutStickSports .titulo p{
					color: #FFFFFF;
					font-family: "Segoe UI";
					font-size: 17px;
					line-height: 27px;
					display: block;
					text-align: center;
				}
			.ourSolutions .aboutStickSports ul{
				padding: 0;
				margin: 0;
				list-style: none;
				text-align: center;
			}	
				.ourSolutions .aboutStickSports ul li{
					height: 179px;	
				    width: 29%;	
					background-color: #000000;	
					position: relative;
					display: inline-block;
					text-align: center;
					margin:0 20px;
					vertical-align: top;
				    padding-top: 45px;
				}
					.ourSolutions .aboutStickSports ul li:hover{
						box-shadow: 0 14px 86px 0 rgba(215,0,0,0.58);
						z-index: 3;
					}
					.ourSolutions .aboutStickSports ul li span{
						color: #FFFFFF;	
						font-family: "Segoe UI";	
						font-size: 43px;	
						font-weight: 900;	
						line-height: 58px;
						position: relative;
					}
						.ourSolutions .aboutStickSports ul li span.numberOne:before{
							background:url(../img/icon3.png);
							max-width: 36px;
							height: 53px;
						}
						.ourSolutions .aboutStickSports ul li span.numberTwo:before{
							background:url(../img/iconUser.png);
							max-width: 43px;
							height: 43px;
						}
						.ourSolutions .aboutStickSports ul li span.three:before{
							background:url(../img/iconCalendar.png);
							max-width: 43px;
							height: 43px;
						}	
						.ourSolutions .aboutStickSports ul li span:before{
							content: "";
							display: block;
							width: 100%;
							position: absolute;
							background-size: cover!important;
							background-position: center;
							width: 100%;
							left: -60px;
						    top: 15px;
						}
					.ourSolutions .aboutStickSports ul li h4{
						color: #D70000;	
						font-family: "Segoe UI";	
						font-size: 20px;	
						font-weight: 900;	
						line-height: 27px;
						margin:0;
					    text-transform: initial;
					}	
		.meettheTeam{
			position: relative;
			z-index: 9;
		}
			.meettheTeam .figureImg{
				-webkit-transform: skewY(20deg);
				transform: skewY(20deg);
				background-color: #D70000;
				width: 100%;
				max-width: 547px;
				height: 617px;
				margin: 0 auto;
				position: relative;
			    margin-top: -65px;
			}	
				.meettheTeam  .figureImg figure{
					-webkit-transform: skewY(-20deg);
					transform: skewY(-20deg);
				}
				.meettheTeam figure img{
					margin: 0 auto;
					display: block;
					width: 100%;
					max-width: 480px;
					position: relative;
					top: -30px;
					box-shadow: 0 13px 29px 0 rgba(0,0,0,0.5);
				}
			.meettheTeam .team{
				width: 100%;
				max-width: 600px;
			}
				.meettheTeam .team h2{
					color: #000000;	
					font-family: "Segoe UI";	
					font-size: 48px;	
					font-weight: 900;	
					line-height: 65px;
				}
				.meettheTeam .team span{
					color: #D70000;	
					font-family: "Segoe UI";	
					font-size: 20px;	
					font-weight: 600;	
					line-height: 27px;
					display: block;
					margin-bottom: 30px;
				}
				.meettheTeam .team p{
					color: #000000;	
					font-family: "Segoe UI";	
					font-size: 14px;	
					line-height: 24px;
				}
				.meettheTeam .carrosselTeam{
					margin-top: 50px;
				}
				.meettheTeam .team.mobile{
					display: none;
				}
				.meettheTeam .carrosselTeam .item{
					cursor: pointer;
				}
					.meettheTeam .carrosselTeam .item figure{
						height: 146px;	
						width: 120px;	
						box-shadow: 0 3px 15px 0 rgba(0,0,0,0.4);
						background-position: center!important;
						background-size:cover!important;
						margin: 0 auto;
						-webkit-filter: grayscale(100%);
						-moz-filter: grayscale(100%);
						-ms-filter: grayscale(100%);
						-o-filter: grayscale(100%);
						filter: grayscale(100%);
						position: relative;
					}
						.meettheTeam .carrosselTeam .item figure:before{
							content: "";
							display: block;
							position: absolute;
							background:transparent;
							width: 100%;
							height: 100%;
							position: absolute;
							z-index: 2;

						}
							.meettheTeam .carrosselTeam .item figure:hover:before{
								background:#ffffff69;;
							}
						.meettheTeam .carrosselTeam .item figure img{
			
						}
				

/*RODAPÉ*/
	footer.rodape{
		background: #000 url(../img/backgroundhome0.png);
		background-position: center 70px!important;
		background-size: cover !important;
		background-repeat: no-repeat!important;
		height: 890px;
		position: relative;
		color: #fff;
		padding-top: 100px;
		z-index: 8;
		margin-top: -340px;
	}
		footer.rodape hr{
			height: 1px;	
			border: 1px solid #979797;	
			opacity: 0.36;	
			background-color: #D8D8D8;
			margin:0;
		}
		footer.rodape .logoNav{
			margin-top: 60px;
			margin-bottom: 60px;
		}
			footer.rodape .logo{

			}
				footer.rodape .logo img{
					display: block;
					height: 72.85px;	
					width: 220.28px;
				}
		footer.rodape nav{
			width: 100%;
			text-align: right;
		}
			footer.rodape nav a{
				color: #FFFFFF;	
				font-family: "Segoe UI";	
				font-size: 14px;	
				font-weight: 900;	
				text-align: center;
				border-right: solid #D70000 3px;
				padding:0 10px;
			}
			footer.rodape nav a:last-child{
				border:none;
			}

		footer.rodape .infoContact{
			margin-bottom: 60px;
		}
			footer.rodape .emailContact{

			}
				footer.rodape .emailContact a{
					color:#fff;
					font-family: "Segoe UI";
					font-size: 35px;
					font-weight: 900;
				}
					footer.rodape .emailContact a span{
						color:#D70000;
					}
		footer.rodape .contactRedesSociais{

		}
			footer.rodape .contactRedesSociais a{

			}
		footer.rodape .infocopyRight{
		    margin-top: 30px;
		}
			footer.rodape .copyRight{

			}
				footer.rodape .copyRight p{
					opacity: 0.85;
					color:#fff;
					font-size: 15px;
				}
				footer.rodape .copyRight.right p{
					text-align:right;
				}



/*EXTRAR*/
	.containerFull{
		width: 100%;
		margin: 0 auto;
		max-width: 1233px;
		position: relative;
	}
	.correctionSkew{
		-webkit-transform: skewY(-20deg);
		transform: skewY(-20deg);
	}
	.titlePage{
		text-align: right;
		padding-top: 220px;
	}
		.titlePage h2{
			text-transform: uppercase;
			color: #fff;
			font-family: "Segoe UI";
			font-size: 55px;
			font-weight: 900;
			margin-bottom: 30px;
		}
			.titlePage h2 strong{
				color: #D70000;
				font-weight: 800;
			}
			h4{
				color: #D70000;
				font-weight: 800;
				text-transform: uppercase;
				font-family: "Segoe UI";
				font-size: 55px;
				font-weight: 900;
				margin: 0;
			}	
	section.mapa{
		background: #000;
		min-height: 750px;
		width: 100%;
		-webkit-transform: skewY(20deg);
		transform: skewY(20deg);
		margin-top: 101px;
		position: relative;
		z-index: 5;
		padding-top: 100px;
		overflow: hidden;
	    padding-bottom: 400px;

	}
		section.mapa .titlePage{
			text-align: center;
			padding-top: 100px;
			background: #000;
		}
			section.mapa .titlePage a{
				display: block;
				height: 40px;
				width: 139px;
				border-radius: 4px;
				background: linear-gradient(180deg, #EA053B 0%, #810011 100%);
				font-family: "Segoe UI";
				font-size: 14px;
				font-weight: 900;
				line-height: 40px;
				text-align: center;
				color: #fff;
				text-transform: uppercase;
				text-decoration: none;
				margin: 20px auto 0;
			}
		section.mapa .caixa{
			text-align: center;
		}
			section.mapa .caixa h2{
				color: #fff;
				text-transform: uppercase;
				font-family: "Segoe UI";
				font-size: 43px;
				font-weight: 900;
				text-align: left;
			}
				section.mapa .caixa h2 strong{
					color: #D70000;
					font-weight: 900;
				}
			section.mapa .caixa .count{
				color: #D70000;	
				font-family: "Segoe UI";	
				font-size: 90px;	
				font-weight: 900;	
				text-align: left;
			}
			section.mapa .caixa .info strong{
				color: #FFFFFF;	
				font-family: "Segoe UI";	
				font-size: 36px;	
				font-weight: 900;
				display: block;
				text-align: left;	
			}
			section.mapa .caixa .info{
				padding-top: 25px;
				max-width: 635px;
				margin: 0 auto;
			}
			section.mapa .caixa .info p{
				color: #fff;	
				font-family: "Segoe UI";	
				font-size: 20px;	
				font-weight: 900;
				text-align: left;	
			}
			section.mapa .caixa .info p span{
				color: #D70000;	
			}
	 	.caixa #map path  {
            fill: #e2e2e2;
            stroke: #e2e2e2;
            stroke-width: 1;
            stroke-opacity: 1;
        }
        .caixa .night {
            stroke:  #D70000;
            fill:  #D70000;
            fill-opacity: .5;
            stroke-width:10;
        }

        .caixa#sessions circle{
           
            fill:red;
        }
        .caixa#legend path {
            fill:#1800f1;
            stroke:#000000;
            opacity:1;
        }
         .caixa.svgLargura{
            background:#000;
            overflow: initial;
                padding-top: 142px;
        }
        svg:not(:root){
			overflow: inherit!important;
			padding-top: 150px;
		    margin-top: 100px;
        }
	.googlePlayIcon{
		background: url(../img/playstore.png);
	}
	.appleIcon{
		background: url(../img/appleStore.png);
	}

/* @media */
	@media(max-width: 1200px){
		.containerFull{
			padding:10px;
		}
		.meettheTeam .team{
			padding: 10px;
		}
	}
	@media(max-width: 991px){
		body{
	    	background-size: 1280px 16%;
		}
		.ourSolutions .aboutStickSports ul li{
			width: 49.5%;
		    margin: 0;
		}
	}
	@media(max-width: 768px){
		body{
    		background: url(../img/tablet.png);
   		 	background-size: 750px 7%!important;
    		background-position: 0 -1%!important;
		}
		header nav{
			display: none;
		}
		header .right a{
			margin:0 auto;
		}
		header .col-xs-5 button{
			display: block;
		}
		header{
		    padding-top: 30px;
		}
		.homePageOne{
			padding: 0;
		}
		.homePageOne .highlights .btnHighlights{
			text-align: center;
			max-width: 100%;
		}
		.homePageOne .highlights .btnHighlights .btns{
		    margin-bottom: 20px;
		}
		.homePageOne .information{
			margin: 50px auto 0;
			text-align: center;
			background: #000;
		    padding-bottom: 250px;
			background-size: 750px 7%!important;
			-webkit-box-shadow: 0px -20px 13px 6px rgba(0, 0, 0, 0.96);
			-moz-box-shadow: 0px -20px 13px 6px rgba(0, 0, 0, 0.96);
			box-shadow: 0px -20px 13px 6px rgba(0, 0, 0, 0.96);
		}
		.homePageOne .information .informationNumber .info strong{
			display: inline-block;
			font-size: 18px;
			font-weight: 800;
		}
		.homePageOne .information .informationNumber .info div{
			text-align: left;
		    margin: 20px 0 0;
		}
		.homePageOne .information .informationNumber .info{
			max-width: 432px;
		    margin: 0px auto 32px;
		}
		.pg.videoInfo .skewhorizon .video{
			height: 244px;
			max-width: 78%;
		}
		.pg.videoInfo{
			padding:0;
		    margin-top: -152px;
		}
		.highlightsText .deskTop{
			display: none
		}
		.highlightsText .mobile{
			display: block;
		}
		.homePageOne .highlights .highlightsText h2{
		    font-size: 32px;
	        line-height: 45px;
		}
		.homePageOne .highlights .highlightsText{
		    max-width: 628px;
		}
		.homePageOne .highlights .btnHighlights{
			margin-top: 20px;
		}
		.homePageOne .highlights .btnHighlights .btns h2{
			margin: 0;
			margin-bottom: 30px;
			margin-top: 30px;
		}
		.homePageOne .information h2{
			font-size: 40px;
		}
		.ourSolutions .ourSolutionsText .solutionsList ul li{
			display: block;
			width: 100%;
		    margin: 10px auto;
	        padding: 50px 20px;
	        height: inherit;
		}
		.ourSolutions .ourSolutionsText .solutionsList ul li figure{
			max-width: 100%;
		}
		.ourSolutions .ourSolutionsText .solutionsList ul li h2{
			max-width: 100%;
		}
		.ourSolutions .ourSolutionsText .solutionsList ul li p{
			max-width: 100%;
		}
		.ourSolutions .ourSolutionsText .solutionsList:before{
			display:none;
		}
		.ourSolutions .downloads .area{
			padding:225px 10px 0;
		}
		.ourSolutions .downloads h4{
			font-size: 47px;
		}
		.ourSolutions .newsllater .form input[type="submit"]{
			float: initial;
			margin-top: 20px;
		}
		.ourSolutions .newsllater{
			padding:10px;
		}
		.ourSolutions .liveFeed .carrosselDepoimentos{
			left: 0;
		}
		.ourSolutions .liveFeed .areaCarrossel:before{
			display: none;
		}
		.ourSolutions .liveFeed{
		    padding-top: 40px;
		}
		.ourSolutions .liveFeed h6{
			margin:0;
		}
		.ourSolutions .aboutStickSports .titulo h2{
			font-size: 45px;
		}
		.ourSolutions .aboutStickSports ul li{
			width: 100%;
		    margin: 0;
		}
		.titlePage h2{
			margin-bottom: 110px;
			text-align: center;
			font-size: 40px;
		}
		.titlePage{
			padding:0;
		}
		.ourSolutions:before{
			display: none;
		}
		.meettheTeam .team.mobile{
			display: block;
		}
		.meettheTeam .team.deskop{
			display: none;
		}
		section.mapa{
			margin-top:150px; 
		}
		section.mapa .caixa .count{
			font-size: 65px;
			text-align: center;
		}
		section.mapa .caixa .info strong{
			text-align: center;
		}
		section.mapa .caixa .info p{
			text-align: center;
		}
		.homePageOne .information .informationNumber .info{
			padding: 0 20px;
		}
	}

	@media(max-width:  400px){
		section.mapa .caixa h2{
			font-size: 20px;
		}
		section.mapa .caixa .count{
			font-size: 50px;
			text-align: center;
		}
		section.mapa .caixa .info strong{
			font-size: 30px;
		}
		.ourSolutions .downloads h4{
			font-size: 28px;
		}
		.ourSolutions .downloads p{
		    font-size: 34px;
		}
		.ourSolutions .ourSolutionsText .title h2{
		    font-size: 34px;


		}
		.pg.videoInfo .skewhorizon .info strong{
			font-size: 34px;
			    line-height: 40px;
		}
		.homePageOne .highlights .highlightsText h2{
			font-size: 25px;
			line-height: 37px;
		}
		.homePageOne .highlights .highlightsText p{
			font-size: 20px;
		}
		.ourSolutions .newsllater .title h6{
			font-size: 35px;
		}
		.ourSolutions .liveFeed:before,.ourSolutions .liveFeed:after{
			display: none;
		}
		.ourSolutions .aboutStickSports ul li span:before{
			position: initial;
		 	margin:0 auto;
		}
		footer.rodape .emailContact a{
			font-size: 20px;
		}
		header .right a{
			display: none;
		}
		.pg.videoInfo .skewhorizon .video{
		    height: 101px;
		}
		.ourSolutions .liveFeed .carrosselDepoimentos .item{
			margin:0 auto;
		}
		.ourSolutions .liveFeed:after{
			display: none;
		}

	}

	    