<div class="et_pb_column et_pb_column_1_2 et_pb_column_1 et_pb_css_mix_blend_mode_passthrough et_pb_column_single" style='width:100%;'>
 <div class="et_pb_module et_pb_signup_0 et_pb_newsletter_layout_left_right et_pb_newsletter et_pb_subscribe clearfix et_pb_bg_layout_dark et_pb_text_align_left" style="background-color: #002854;">
 <div class="et_pb_newsletter_description">
 <h2 class="et_pb_module_header">Sign up for more information</h2>
 </div>
 <div class="et_pb_newsletter_form">
 <form action="/bc-subscribe.php" method="POST" accept-charset="utf-8" id="subscribe">
 <div class="et_pb_newsletter_result et_pb_newsletter_error"></div>
 <div class="et_pb_newsletter_result et_pb_newsletter_success">
 <h2>Email subscription successful!</h2>
 </div>
 <div class="et_pb_newsletter_fields">

 <p class="et_pb_newsletter_field et_pb_contact_field_last">
 <label class="et_pb_contact_form_label" for="et_pb_signup_email" style="display: none;">Email</label>
 <input id="et_pb_signup_email" class="input" type="text" placeholder="Email" name="email">
 </p>

 <p class="et_pb_newsletter_button_wrap">
 <a class="et_pb_newsletter_button et_pb_button" href="#" data-icon="" onclick="document.getElementById('subscribe').submit();">
 <span class="et_subscribe_loader"></span>
 <span class="et_pb_newsletter_button_text">SUBSCRIBE</span>
 </a>
 </p>
 <div class="et_pb_newsletter_footer">
 <p style="font-weight: 400; text-align: center;"><em>I agree that my email will be compiled and processed by Stick Sports Ltd for marketing purposes. I can change this statement at any time. I confirm that I am over the age of 18. For more information please read our <a href="https://www.sticksports.com/privacy/" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=https://truth.tech/privacy-policy&amp;source=gmail&amp;ust=1533115363809000&amp;usg=AFQjCNFMCQD0TsmgxJCcTj37uU4_peqaUQ">Privacy policy.</a></em></p>
 </div>
 </div>
 <input type="hidden" name="list" value="nDQNsNst93Br8929irItuFhA"/>
 <input type="hidden" name="subform" value="yes"/>
 </form>
 </div>
 </div>
</div>